@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
.main_reset_con {
  width: 100vw;
  height: 95vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_reset_con .inner_main_rest_con {
  width: 45%;
  height: 47%;
  background-color: #fff;
  box-shadow: 2px 6px 11px 1px #00000033;
  /* width: 30%;
        height: 70%; */
  /* First Reset Container */
  /* Second Reset Conatiner */
  /* Changing password CSS */
}

.main_reset_con .inner_main_rest_con .first_reset_con {
  width: 100%;
  height: 100%;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  justify-content: space-evenly;
  /* display: none; */
}

.main_reset_con .inner_main_rest_con .first_reset_con .first_header_con {
  width: 98%;
  height: 20%;
  /* background-color: gold; */
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.main_reset_con .inner_main_rest_con .first_reset_con .first_header_con p {
  font-size: 2.5rem;
}

.main_reset_con .inner_main_rest_con .first_reset_con .first_dis_msg {
  width: 98%;
  height: 45%;
  /* background-color: chartreuse; */
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: space-between;
}

.main_reset_con .inner_main_rest_con .first_reset_con .first_dis_msg p {
  width: 98%;
  /* background-color: cornflowerblue; */
  font-size: 2rem;
}

.main_reset_con .inner_main_rest_con .first_reset_con .first_dis_msg input {
  width: 100%;
  padding: 1.3rem 2rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  outline: none;
  border: 1px solid gray;
  /* background: transparent; */
}

.main_reset_con .inner_main_rest_con .first_reset_con .first_btn_con {
  width: 98%;
  height: 20%;
  /* background-color: brown; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main_reset_con .inner_main_rest_con .first_reset_con .first_btn_con button {
  /* width: 100%;   */
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 1.8rem;
  outline: none;
  border: 1px solid gray;
  margin-right: 10px;
  cursor: pointer;
}

.main_reset_con .inner_main_rest_con .first_reset_con .first_btn_con button:nth-child(2) {
  background-color: #1080ea;
  color: #fff;
}

.main_reset_con .inner_main_rest_con .Second_reset_con {
  width: 100%;
  height: 100%;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  justify-content: space-evenly;
  display: none;
}

.main_reset_con .inner_main_rest_con .Second_reset_con .second_header_con {
  width: 98%;
  height: 20%;
  /* background-color: gold; */
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.main_reset_con .inner_main_rest_con .Second_reset_con .second_header_con p {
  font-size: 2.5rem;
}

.main_reset_con .inner_main_rest_con .Second_reset_con .second_dis_msg {
  width: 98%;
  height: 45%;
  /* background-color: chartreuse; */
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: space-evenly;
}

.main_reset_con .inner_main_rest_con .Second_reset_con .second_dis_msg p {
  width: 98%;
  /* background-color: cornflowerblue; */
  font-size: 2rem;
}

.main_reset_con .inner_main_rest_con .Second_reset_con .second_dis_msg input {
  width: 100%;
  padding: 1.3rem 2rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  outline: none;
  border: 1px solid gray;
  /* background: transparent; */
}

.main_reset_con .inner_main_rest_con .Second_reset_con .second_btn_con {
  width: 98%;
  height: 20%;
  /* background-color: brown; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main_reset_con .inner_main_rest_con .Second_reset_con .second_btn_con button {
  /* width: 100%;   */
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 1.8rem;
  outline: none;
  border: 1px solid gray;
  margin-right: 10px;
  cursor: pointer;
}

.main_reset_con .inner_main_rest_con .Second_reset_con .second_btn_con button:nth-child(2) {
  background-color: #1080ea;
  color: #fff;
}

.main_reset_con .inner_main_rest_con .third_reset_con {
  width: 100%;
  height: 100%;
  /* background-color: antiquewhite; */
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  display: none;
}

.main_reset_con .inner_main_rest_con .third_reset_con .third_img_name {
  width: 98%;
  height: 40%;
  /* background-color: orange; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main_reset_con .inner_main_rest_con .third_reset_con .third_img_name p {
  width: 70%;
  /* background-color: chartreuse; */
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.main_reset_con .inner_main_rest_con .third_reset_con .third_img_name .img_reset_div {
  width: 130px;
  height: 115px;
  /* background-color: gray; */
  border-radius: 50%;
  background-image: url("../images/pro_pic1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main_reset_con .inner_main_rest_con .third_reset_con .third_img_name .img_reset_div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.main_reset_con .inner_main_rest_con .third_reset_con .third_dis_msg {
  width: 98%;
  height: 40%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.main_reset_con .inner_main_rest_con .third_reset_con .third_dis_msg input {
  width: 90%;
  padding: 1.3rem 2rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  outline: none;
  border: 1px solid gray;
  /* background: transparent; */
}

.main_reset_con .inner_main_rest_con .third_reset_con .third_btn_con {
  width: 98%;
  height: 20%;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main_reset_con .inner_main_rest_con .third_reset_con .third_btn_con button {
  /* width: 100%;   */
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 1.8rem;
  outline: none;
  border: 1px solid gray;
  margin-right: 10px;
  cursor: pointer;
}

.main_reset_con .inner_main_rest_con .third_reset_con .third_btn_con button:nth-child(2) {
  background-color: #1080ea;
  color: #fff;
}

.first_btn_con button:nth-child(2):disabled {
  background-color: #4794dd;
  color: #fff;
}
/*# sourceMappingURL=resetpassword.css.map */