@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

// Colors
$log-front : "#f5f5f5b0";
$nav-clr : rgba(16,128,234,1);
$main-clr : hsl(210, 50%, 98%);
$main-blue : #0d67ff;
$btn-error : #2387e2;
$user-ui-bg : #bdbdbd42;
$main-outer-bg : #e9e5df;


// Fonts
$primary-fnt: 'Gowun Batang', serif;
$sec-fnt : 'Poppins', sans-serif;
$login-font : 'Fredoka One', cursive;;
