@import "variables";
@import "mixin";

.feeds_card_main{
    width: inherit;
    height: 60vh;
    background-color: #fff;
    // background-color: blanchedalmond;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    .inner_feeds{
        width: 43vw;
        height: 60vh;
        // background-color: grey;

        .feeds_img{
            width: inherit;
            height: 33vh;
            // background-color: aquamarine;
            background-position: center;
            // border-radius: 0px 15px 0px 0px;

            img{
                width: 100%;
                height: 100%;
                border-radius: 15px 15px 0px 0px;
            }
        }
        .feeds_title{
            width: 43vw;
            height: 5vh;
            // background-color: pink;
            display: flex;
            justify-content: center;

            h1{
                width: 41vw;
                height: inherit;
                display: flex;
                align-items: center;
                padding: 0px 8px 0px 8px;
                font-size: 2.1rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-decoration: underline;
                
            }

        }

        .feeds_desc{
            width: inherit;
            height: 15vh;
            // background-color: beige;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            p{
                width: 41vw;
                height: 11vh;
                font-size: 1.5rem;
                // white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .read_more_con{
                width: 41vw;
                height: 3vh;
                // background-color: orchid;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-bottom: 3px;

                span{
                    // width: 41vw;
                   font-size: 1.7rem;
                   color: $nav-clr;
                   text-decoration: underline;
                    // background-color: red;
                    cursor: pointer;
                }
            }
        }

        .btn_created_time{
            width: inherit;
            height: 5vh;
            // background-color: greenyellow;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 15px;

            .creted_time{
                width: 80%;
                height: inherit;
                // background-color: aliceblue;

                p{
                    width: inherit;
                    height: inherit;
                    font-size: 1.5rem;
                    color: gray;
                    display: flex;
                    align-items: center;
                    padding-left: 5px;
                }
            }
            .applynow_btn{
                font-size: 2rem;
                padding: 3px 8px;
                // background-color: #fff;
                // color: $nav-clr;
                color: #fff;
                font-size: 1.5rem;
                background-color: $nav-clr;
                outline: none;
                margin-right: 5px;
                border: 1px solid $nav-clr;
                cursor: pointer;
                transition: all .5s;

                &:hover{
                    color: $nav-clr;
                    background-color: #fff;
                    
                }
            }
        }
    }
}