@import "variables";

.main_reset_con {
  width: 100vw;
  height: 95vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  .inner_main_rest_con {
    width: 45%;
    height: 47%;
    background-color: #fff;
    box-shadow: 2px 6px 11px 1px #00000033;
    /* width: 30%;
        height: 70%; */

    /* First Reset Container */
    .first_reset_con {
      width: 100%;
      height: 100%;
      /* background-color: aquamarine; */
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;
      justify-content: space-evenly;
      /* display: none; */

      .first_header_con {
        width: 98%;
        height: 20%;
        /* background-color: gold; */
        display: flex;
        align-items: center;
        border-bottom: 1px solid black;

        p {
          font-size: 2.5rem;
        }
      }

      .first_dis_msg {
        width: 98%;
        height: 45%;
        /* background-color: chartreuse; */
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        justify-content: space-between;

        p {
          width: 98%;
          /* background-color: cornflowerblue; */
          font-size: 2rem;
        }

        input {
          width: 100%;
          padding: 1.3rem 2rem;
          border-radius: 1rem;
          font-size: 1.8rem;
          outline: none;
          border: 1px solid gray;
          /* background: transparent; */
        }
      }

      .first_btn_con {
        width: 98%;
        height: 20%;
        /* background-color: brown; */
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
          /* width: 100%;   */
          padding: 1rem 2rem;
          border-radius: 10px;
          font-size: 1.8rem;
          outline: none;
          border: 1px solid gray;
          margin-right: 10px;
          cursor: pointer;
        }

        button:nth-child(2) {
          background-color: $nav-clr;
          color: #fff;
        }
    }
}


    /* Second Reset Conatiner */
     .Second_reset_con {
      width: 100%;
      height: 100%;
      /* background-color: aquamarine; */
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;
      justify-content: space-evenly;
      display: none;

      .second_header_con {
        width: 98%;
        height: 20%;
        /* background-color: gold; */
        display: flex;
        align-items: center;
        border-bottom: 1px solid black;

        p {
          font-size: 2.5rem;
        }
      }

      .second_dis_msg {
        width: 98%;
        height: 45%;
        /* background-color: chartreuse; */
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        justify-content: space-evenly;

        p {
          width: 98%;
          /* background-color: cornflowerblue; */
          font-size: 2rem;
        }

        input {
          width: 100%;
          padding: 1.3rem 2rem;
          border-radius: 1rem;
          font-size: 1.8rem;
          outline: none;
          border: 1px solid gray;
          /* background: transparent; */
        }
      }

      .second_btn_con {
        width: 98%;
        height: 20%;
        /* background-color: brown; */
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
          /* width: 100%;   */
          padding: 1rem 2rem;
          border-radius: 10px;
          font-size: 1.8rem;
          outline: none;
          border: 1px solid gray;
          margin-right: 10px;
          cursor: pointer;

          &:nth-child(2) {
            background-color: $nav-clr;
            color: #fff;
          }
        }
      }
    }

    /* Changing password CSS */

     .third_reset_con {
      width: 100%;
      height: 100%;
      /* background-color: antiquewhite; */
      /* display: flex; */
      flex-direction: column;
      align-items: center;
      display: none;

      .third_img_name {
        width: 98%;
        height: 40%;
        /* background-color: orange; */
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        p {
          width: 70%;
          /* background-color: chartreuse; */
          font-size: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 10px;
        }

        .img_reset_div {
          width: 130px;
          height: 115px;
          /* background-color: gray; */
          border-radius: 50%;
          background-image: url("../images/pro_pic1.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }

      .third_dis_msg {
        width: 98%;
        height: 40%;
        /* background-color: blue; */
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;

        input {
          width: 90%;
          padding: 1.3rem 2rem;
          border-radius: 1rem;
          font-size: 1.8rem;
          outline: none;
          border: 1px solid gray;
          /* background: transparent; */
        }
      }

      .third_btn_con {
        width: 98%;
        height: 20%;
        /* background-color: green; */
        display: flex;
        align-items: center;
        justify-content: flex-end;

        button {
          /* width: 100%;   */
          padding: 1rem 2rem;
          border-radius: 10px;
          font-size: 1.8rem;
          outline: none;
          border: 1px solid gray;
          margin-right: 10px;
          cursor: pointer;

          &:nth-child(2) {
            background-color: $nav-clr;
            color: #fff;
          }
        }
      }
    }
  }
}

.first_btn_con button:nth-child(2):disabled{
    background-color: #4794dd;
    color: #fff;
}
